.navbar-react-facts {
  display: flex;
  align-items:center;
  background: #21222A;
  color: white;
  position: sticky;
  height: 100px;
}

.react-facts-logo {
  width:70px;
  padding-right: -20px;
}

.navbar-header {
  margin-right: auto;
  color: #61DAFB;
}

.navbar-header-right {
  margin-right: 20px;
}