.card {
   font-size: 12px;
   padding: 20px 0px 0px 30px;
   position: relative;
}

.faded {
   color: #918E9B;
}

.bold {
   font-weight: bold;
}

.card--stats {
   display: flex;
   align-items: center;
   gap: 3px;
   margin-bottom: -5px;
}

.card--bedge {
   position: absolute;
   text-align:center;
   top: 25px;
   left: 35px;
   background-color: white;
   padding: 3px;
   border-radius: 2px;
   font-weight: bold;
   width: 61px;
   height: 20px;
}