.site-header {
  position: sticky;
  z-index: 999;
  top:-5px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.navbar {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-variant: petite-caps;
}

.navbar-items {
  list-style: none;
  display: flex;
}

.navbar-items > li {
  padding: 10px;
}

.navbar-items > li:hover {
  color: #6cf
}

.react-logo {
  width: 70px;
}

.cust-body {
  margin-left: 20px;
}

.cust-footer {
  display: flex;
  align-items: center;
  text-indent: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #6cf;
  color: white;
}
